/* <style> */
/* *{
    overflow-x: hidden ;
    overflow-y: auto;
} */



/* .num-one {

    height: 100vh;
} */

/* Navbar Section*/

.nav-link {
  text-align: center;
}
.nav-link:hover {
  color: rgb(255, 176, 6) !important;
}

.github:hover {
  background-color: rgb(255, 176, 6) !important;
  border-radius: 50%;
}

.netlify:hover {
  background-color: rgb(255, 176, 6) !important;
  border-radius: 50%;
}
.navbar {
  top: 0;
}

.navbar-brand {
  border-radius: 100%;
  height: 100px;
  width: 60x;
  padding-bottom: 4px !important;
  padding-top: 3px !important;
  margin-top: 0px !important;
  margin-bottom: 3px !important;
}

.one {
  display: grid;
  margin-top: 20px;
  padding-top: 100px;
  overflow-x: hidden !important;
}

/* BACKGROUND COLOR */
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* icons */
.icons {
  height: 40px;
  width: 40px;
  line-height: 2;
  border-radius: 100% !important;
}

/* form {
  width: 40% !important;
} */
.contactMe {
  width: 100%;
  margin: 0px;
}
.icons:hover {
  color: rgb(255, 176, 6) !important;
}

.button-about {
  width: 25%;
}

.arrow {
  height: 40px;
  width: 40px;
}

.subtitlee {
  padding-top: 100px;
}

.image-col {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.profile2 {
  height: auto;
  width: 200px;
  border-radius: 100%;
  float: left;
}

.p-bar,
.p-inner {
  border-radius: 15px;
}

.p-inner {
  border-radius: 15px;
  background-color: orange;
}

/* education section */
.education-work,
.testimonial-background {
  background-color: rgb(255, 255, 255);
}

u {
  text-decoration-color: orange;
}

/* testimonials */
.testimonials {
  padding-top: 100px;
}

.d-block {
  border-radius: 50%;
  height: 100px;
  margin: auto;
  width: 100px;
}

.timeli {
  border-radius: 15px;
}

.carousel-item {
  background-color: #d4d9df;
  border-radius: 15px;
  height: 300px;
}
/* .carousel-inner {
  height: 300px;
  
}
.carousel {
  height: 300px;
} */
.carousel-control-prev-icon {
  background-color: rgb(223, 146, 4);
  margin-bottom: 230px;
}

.carousel-control-prev {
  opacity: 0.3 !important;
}
.carousel-control-next {
  opacity: 0.3 !important;
}

.carousel-control-next-icon {
  background-color: rgb(230, 161, 32);
  margin-bottom: 230px;
}

.resu {
  width: 90%;
  background-color: #d4d9df;
  border-radius: 15px;
}

.card {
  width: 50%;
  height: 450px;
  border-radius: 15px;
}

.card-body {
  overflow: auto;
  background-color: #d4d9df;
  text-align: center;
}

/* contact section */

.iframe,
iframe {
  border-radius: 25px;
}

/* project section */
.card-img-top {
  height: 150px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* .ani-card {
  animation: myfirst 5s linear 2s infinite alternate;
}

.card-link {
  animation: myfirst 5s linear 2s infinite alternate;
} */
/* TIMELINE */
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 6;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: rgb(223, 146, 4);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid rgb(223, 146, 4);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 8;
}
.netlify {
  width: 35px;
}
.github {
  width: 35px;
}

/* @keyframes myfirst {
  0% {
    background-color: orange;
    color: black;
  }

  25% {
    background-color: orange;
    color: black;
  }

  50% {
    background-color: rgb(82, 82, 82);
    color: white;
  }

  75% {
    background-color: rgb(80, 80, 80);
    color: white;
  }

  100% {
    background-color: rgb(80, 80, 80);
    color: white;
  }
} */

.list-group {
  padding-right: 0px;
  background-color: #d4d9df;
  text-align: center;
}
.list-group-item {
  background-color: #d4d9df;
}

@media all and (max-width: 991px) {
  .resu {
    width: 80%;
    background-color: #d4d9df;
    border-radius: 15px;
  }
  .proji {
    margin-left: 0px !important;
  }
  .testi {
    margin-left: 0px !important;
  }
}

@media all and (max-width: 767px) {
  .resu {
    width: 80%;
    background-color: #d4d9df;
    border-radius: 15px;
  }
  /* .num-one {
    height: 100vh;
    margin-top: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url(images/Landing\ Section/background.jpg);
    overflow-x: hidden;
  } */

  /* navbar */

  .nav-link {
    text-align: end;
    /* display: inline-block !important; */
    padding: 0px;
    margin: 3px;
  }
  .navbar-brand {
    border-radius: 100%;
    height: 70px;
    width: 40x;
    padding-bottom: 4px !important;
    padding-top: 3px !important;
    margin-top: 0px !important;
    margin-bottom: 3px !important;
  }
  .subtitlee {
    padding-top: 80px;
  }

  .image-col {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }

  .profile2 {
    height: auto;
    width: 180px;
    border-radius: 100%;
  }

  .card {
    width: 50%;
    /* height: px; */

    border-radius: 15px;
  }

  .card-image {
    display: block;
    max-width: 100%;
    height: 200px;
  }
  .proji {
    margin-left: 0px !important;
  }
  .testi {
    margin-left: 0px !important;
  }
}

@media all and (max-width: 600px) {
  .resu {
    width: 80%;
    background-color: #d4d9df;
    border-radius: 15px;
  }
  .profile2 {
    height: auto;
    width: 150px;
    border-radius: 100%;
    float: none;
    display: inline-block;
  }

  .abountcont {
    text-align: center;
  }
  .button-about {
    width: 40%;
  }
  .carousel-item {
    background-color: #d4d9df;
    border-radius: 15px;
    height: 350px;
  }

  .navbar-brand {
    border-radius: 100%;
    height: 50px;
    width: 30x;
    padding-bottom: 4px !important;
    padding-top: 3px !important;
    margin-top: 0px !important;
    margin-bottom: 3px !important;
  }
  .subtitlee {
    padding-top: 56px;
  }
  .proji {
    margin-left: 0px !important;
  }
  .testi {
    margin-left: 0px !important;
  }
}
.proji {
  margin-left: 80px;
}
.testi {
  margin-left: 80px;
}
/* </style> */

/* Below is an animation code on 'about me' button. inspired buy freefrontend.com */

.abt {
  background: linear-gradient(to right, #000000 0, white 10%, #0c0a0a 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s infinite linear;
  animation-fill-mode: forwards;
}

.abt {
  background: linear-gradient(to right, #000000 0, white 10%, #0c0a0a 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes shine {
  0% {
    background-position: 180px;
  }

  25% {
    background-position: 0;
  }

  50% {
    background-position: 180px;
  }
  75% {
    background-position: 0;
  }
  100% {
    background-position: 180px;
  }
}
